@charset "utf-8";
html{background:#fff;}
body{min-width:1200px;font:16px/1 "Microsoft Yahei" !important; -webkit-font-smoothing: antialiased; }
a{text-decoration: none;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;} .clearfix{ zoom:1;}
.fl{float:left;}
.fr{float:right;}
.txtOverflow {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}